<?xml version="1.0" encoding="UTF-8"?>
<phpunit
         backupGlobals="false"
         backupStaticAttributes="false"
         colors="true"
         convertErrorsToExceptions="true"
         convertNoticesToExceptions="true"
         convertWarningsToExceptions="true"
         processIsolation="false"
         stopOnFailure="false"
         strict="true"
         verbose="true"
        >
    <testsuites>
        <testsuite name="testing">
            <directory>./src/Tests/</directory>
            <exclude>./src/Tests/Profiling/</exclude>
        </testsuite>
        <testsuite name="profiling">
            <directory>./src/Tests/Profiling/</directory>
        </testsuite>
    </testsuites>

    <php>
        <const name="XHPROF_UTILS_DIR" value="/usr/local//Cellar/php55-xhprof/254eb24/xhprof_lib/utils/" />
    </php>

    <filter>
        <blacklist>
            <directory>./vendor</directory>
            <directory>./src/Tests</directory>
        </blacklist>
    </filter>
</phpunit>
